<nav>
  <a class="home-link" routerLink="">Home</a>
</nav>

<main>

  <h1 class="page-title">Contact me</h1>
  <div class="content">
    <span>Hey!</span>
    <p>Whether you want to talk about web development, cool projects, collaboration opportunities, or just say hi, feel
      free to reach out!
      I’m always open to new challenges, ideas, and connections—so don’t hesitate to drop a message.</p>
    <p>Get in touch!</p>

    <div class="actions">
      <p>E-mail: <a href="mailto:rafaelah05@hotmail.com">rafaelah05&#64;hotmail.com</a></p>
      <p>Midia: <a href="https://www.linkedin.com/in/rafaelabcarvalho/" target="_blank"> Linkedin</a></p>
    </div>

  </div>

</main>


