<main>

  <div class="nav">
    <nav>
      <!-- <a routerLink="">Home</a> -->
      <a routerLink="about-me" >About me</a>
      <a routerLink="portfolio" >Portfolio</a>
      <a routerLink="contact" >Contato</a>
    </nav>
  </div>

  <div class="linkedin-link">
    <a href="https://www.linkedin.com/in/rafaelabcarvalho/" target="_blank">Linkedin</a>
  </div>


  <div class="social-wrapper">
    <div class="social-links">
      <a href="https://github.com/rafaelahc/" target="_blank">Github</a>
      <a href="https://codepen.io/rafaelah05/" target="_blank">Codepen</a>
    </div>

  </div>

  <div class="name-container">
    <div class="wrapper">
      <h1>Rafaela</h1>
      <h3>Carvalho</h3>
      <div class="subtitle">
        <span>Front End Developer</span>
      </div>
    </div>

  </div>

</main>


