<nav>
  <a class="home-link" routerLink="">Home</a>
</nav>

<main>
  <div class="left-section">
    <div class="content">
      <h1 class="page-title">About me</h1>
      <div class="about-image">
        <img src="\assets\images\about\about-image.jpeg" alt="Rafaela">
      </div>
    </div>

  </div>


  <div class="right-section about-content">
    <h3>Hello! I'm Rafaela. <br>A Front End developer</h3>
    <p>My professional journey began in 2013 when I started working in the administrative field. I graduated with a
      degree in Business Administration and continued working in back-office operations. However, something was
      missing—I felt like I needed to do more than just handle processes and paperwork.

      That’s when I decided it was time for a change!

      In 2019, I moved to Portugal, and that’s where my journey in technology truly began. I pursued a degree in Systems
      Analysis and Development, which opened my eyes to the endless possibilities of the tech world. But it wasn’t until
      I discovered front-end development that I truly found my passion.

      I love working on the visual and interactive aspects of applications, bringing ideas to life through design and
      code. That’s what excites me the most!

      Since then, I’ve been dedicating myself to mastering front-end technologies, honing my skills in:


      I’m always eager to learn, grow, and create meaningful digital experiences.

      Let’s build something amazing together!
    </p>

    <h4 class="subtitle">Digital Skills</h4>
    <p>HTML / Bootstrap / CSS / Sass / Scss / Tailwind  / JavaScript / TypeScript / Angular / React / Laravel / Wordpress / Responsive Design / Figma</p>

    <div class="my-cv">
      <a class="cv" href="assets\cv\RafaelaCarvalhoCV.pdf" download="Rafaela Carvalho CV.pdf">CV</a>
    </div>

  </div>



</main>
<router-outlet></router-outlet>
